/api/.env
/.idea/
/README.MD
/api/pkg/config/app.env
/api/pkg/saml_handler/myservice.crt
/api/pkg/saml_handler/myservice.key
/docker-commands.txt
/example-response/
/response.json
/api/queryes_filter_and_set_unlocks_1.txt
/api/pkg/repository/tests/configurations/app.env